
.pageImage {
  border:  rgb(252, 214, 0)  6px;
  border-style: groove;
  margin-left:20%;
  margin-right:20%;
  height:350px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pageImage img {
  width:100%;
  height: 100%;
}

.pageText {
  margin-bottom:5rem;
  height:70px;
  background-color: rgba(22, 22, 22, 0.644);
}
.pageText h1 {
  font-size: 30pt;
  margin-left:3rem;
  font-family: 'Special Elite', cursive;
  color:rgb(255, 196, 0);
}

.viewbutton{
  margin-left:30%;
  width:40%;
  height:30px;
  margin-bottom: 1rem;
}


.synopsisdetails {
  color:rgb(230, 216, 22);
  border: rgb(255, 238, 0) ridge 2px ;
  background-color: rgba(22, 22, 22, 0.644);
  margin-left: 7%;
  margin-right: 7%;
  height:150px;
  line-height:30px;
  text-align: center;
  overflow: scroll;
  margin-bottom: 1rem;
}


.rank {
  width:60%;
}


.details {
  color:rgb(230, 216, 22);
  border: rgb(255, 238, 0) ridge 2px ;
  background-color: rgba(22, 22, 22, 0.644);
  margin-left: 7%;
  margin-right: 7%;
  height:60px;
  line-height:50px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.details h1,label {
  font-size: 16pt;
}

.details datalist {
  width:200px;
}

.firstLabel{
  color: rgb(102, 188, 241);
 
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  margin-bottom: 2rem;
}

 .topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: rgb(255, 217, 3);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
 
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  height: 55px;
  border-bottom: lawngreen solid 3px;
}
.active h1 {
  font-size: 30pt;
  font-family: 'Special Elite', cursive;
  color:rgb(255, 196, 0);
  margin-left:3rem;
}



@media screen and (min-width: 480px) {

.pageImage {
  
  border:  rgb(252, 214, 0)  6px;
  border-style: groove;
  margin-left:-5%;
  margin-right: -30%;
  width:350px;
 height:300px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* 
.pageImage img {
  width:100%;
  height: 100%;
 
} */
.pageBlock {
  display: flex;
  flex-flow:  row  wrap ;
justify-content: space-evenly;
  align-content: flex-start;
margin-left: 10%;
margin-right: 10%;;
}
.pageText {
  margin-top:-2rem;
  margin-bottom:5rem;
  height:70px;
  background-color: rgba(22, 22, 22, 0.829);
  text-align: center;
}
.pageText h1 {
  font-size: 30pt;
  line-height: 70px;
  margin-left:3rem;
  font-family: 'Special Elite', cursive;
  color:rgb(255, 196, 0);
}

.viewbutton{
  margin-left:30%;
  width:40%;
  height:30px;
  margin-bottom: 1rem;
}


.synopsisdetails {
  color:rgb(230, 216, 22);
  border: rgb(255, 238, 0) ridge 2px ;
  background-color: rgba(22, 22, 22, 0.644);
  margin-left: 7%;
  margin-right: 7%;
  height:150px;
  line-height:30px;
  text-align: center;
  overflow: scroll;
  margin-bottom: 1rem;
}


.rank {
  width:60%;
}


.details {
  color:rgb(230, 216, 22);
  border: rgb(255, 238, 0) ridge 2px ;
  background-color: rgba(22, 22, 22, 0.644);
  margin-right: 0;
  margin-left: 1rem;
  width:300px;
  height:60px;
  line-height:50px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.details h1,label {
  font-size: 16pt;
}

.details datalist {
  width:200px;
}

.firstLabel{
  color: rgb(102, 188, 241);
 
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  margin-bottom: 2rem;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  display: block;
}

.topnav a.icon {
  background: rgb(255, 217, 3);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
 
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  height: 55px;
  border-bottom:solid 3px rgb(252, 206, 0);
}
.active h1 {
  font-size: 30pt;
  font-family: 'Special Elite', cursive;
  color:rgb(255, 196, 0);
  margin-left:3rem;
} 
}