<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collection</title>
   <link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/modules.css">
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    
    <section id="searchPage">
      <%- include('../layout/header.ejs') %>
      <div id="searchBlock">
        <div id="searchIntro"><h4>Search by Title </h4></div>
        <div >
        <form action="/search/results" method="post">
        <div id="searchEntry"> 
          <input  type="text" name="search" placeholder="Enter a title" required>
          </div> 
        <div id="searchButton"><button type="submit">Search Anime Title</button></div> 
        </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="app.js"></script>
    
        
        </body>
        </html>