
<!-- Simulate a smartphone / tablet -->
<div class="mobile-container">

  <!-- Top Navigation Menu -->
  <div class="topnav">
    <a href="/" class="active"> <h1>MY ANIMAP LIST</h1></a>
    <div id="myLinks">
      <a href="/home">HOME</a>
      <a href="/search"> SEARCH</a>
      <a href="/collection"> MY FAVORITES</a>
      
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  

  